





 


section#iPad{
    position: relative;
    background-color: var(--divBackground);
    background-image: url(img/iPad.png);
    background-repeat: no-repeat;
    background-position:  left 25% center;
}

section#iPad
.textSection{
    padding-left: 80px;
    position: absolute;
    top: 50%;
    left: 45%;

    transform: translateY(-50%);
}

section.backgroungBlack{
    background-image: url(img/iphone14.png);
    background-size: 850px;
}




section#Bigwatch .textSection{
    padding-top: 80px;
}

section#Bigwatch .textSection h2{font-size: 2.5em;}



/*Config class - TwoArticles*/

section.twoArticles{
    height: var(--heightSectionTwo);
    padding: 5px 10px 0px 10px;
}

section.twoArticles
article{
    height: 100%;
    width: 49%;
}

/* title icons (ARTICLE)*/
section.twoArticles article
.textSection 
h2.iconTitle::before{width: 30px; height: 30px;}

section.twoArticles
article.left{
    display: block;
    float: left;
    color: var(--white);
}

section.twoArticles
article.right{
    display: block;
    float: right;
}

section.twoArticles
article
h2{font-size: 2.25em;}

section.twoArticles
article
h3{font-size: 1.5em;}


section.twoArticles
article
h4{font-size: 0.8em;}

/*Article WorldWatch*/

article#worldWatch
.textSection  h2{ text-transform: uppercase; }


/*Article HandsAndIphone*/



/*Article iPad Pro*/






/*Article Airpods*/

article#airPods{
    background-color: var(--black);
    background-image: url(img/airPods.png);
    background-repeat: no-repeat;
    background-position:  bottom center;
}

/*Article Watches*/



/*Article apple Tv*/



footer{
    padding: 22px;
    background-color: #F5F5F7;
    font-family: var(--footerFont-Regular);
    font-size: 0.8em;
    color: #656568;
    max-width: 980px;
    margin: auto;
}


footer p{ display: block; 

}

footer a:hover{
    text-decoration: underline;
}

footer hr{ margin: 10px 0px;}

footer p#aboutApple{
    margin-bottom: 15px;
}

footer > div#list{
    display: flex;
    justify-content: space-around;
}

footer
ul{ list-style: none;
    margin-bottom: 25px;
}

footer div#list 
ul{ list-style: none;
    max-width: 150px;
}

footer div#list 
h4{
    font-family: var(--footerFont-SemiBold);
    color: var(--colorTitle);
    padding: 15px 0px 5px 0px;
}

footer div#list 
ul li {padding: 5px 0px;}







