header ul#nav{height: 42px; max-width: 1000px;}

header ul li.liDesk{display: block;}

header ul li.deletMobi{display: none;}

header ul li{padding-top: 13px;}

header ul li#search{
    background-image: url(icons/nav/search.svg);
    display: block;
}

section{
    height: calc(var(--heightSetion) + 150px);
}

section#iPad{
    position: relative;
    height: calc(var(--heightSetion) + 200px);
    background-image: url(img/iPad.png);
    background-position: bottom 45px right 65%;
}

section#iPad > .textSection, section#iPad > .textSection h2{
    padding: 0;
}

section#iPad > .textSection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);
    padding-top: 0%;
    z-index: 0;
}


.textSection{padding-top: 35px;}

.textSection h2{font-size: 3.25em;}

.textSection h3{
    font-size: 1.6em;
    padding-bottom: 15px;
}

.textSection a{font-size: 1.25em;}

section.backgroungBlack{background-image: url(img/iphone14.png);}

section#Bigwatch{
    background-image: url(img/bigAppleWatch.png);
    background-size: 1000px;
}

section#Bigwatch .textSection 
h2.iconTitle::before{
    height: 33.5px;
    width: 32.5px;
}

section#Bigwatch .textSection
h2{font-size: 2.25em;}


section.twoArticles{height: var(--heightSectionTwo);}

article.left{
    float: left;
    width: 46%;
    height: 100%;
    margin-left: 10px;
}

article.right{
    float: right;
    width: 46%;
    height: 100%;
    margin-right: 10px;
}

article#worldWatch{background-image: url(img/appleWatch.png);}

article#handsAndIphone{background-image: url(img/handsAndIphone.png);}

article#appleTv{background-image: url(img/appleTv.png);}

article#airPods{background-image: url(img/airPods.png);}

article#watchs{background-image: url(img/appleWatchs.png);}

footer{
    font-size: 0.8em;
    background-color:#F5F5F7;
    width: 98vw;
}

div#content{
    background-color:#F5F5F7ed;
    margin: auto;
}

footer p{font-size: 1em;}

footer a{font-size: 1em;}

footer div#list{
    top: 0;
    display: flex;
    justify-content: space-between;
}

footer div#list ul > hr{display: none;}

footer div#list
a.title > h4{opacity: 1; cursor: default;}

footer div#list ul li{
    display: block;
    width: 140px;
    padding: 5px 0px;
} 

footer div#list ul li:hover{text-decoration: underline;}

footer p#copyright{display: inline;}


footer a#country{
    color: var(--black);
    float: right;
    margin: 0;
}








