@charset "UTF-8";
@font-face {
    font-family: "Sf Reg";
    src: url(fonts/SanFranciscoDisplay-Regular.otf);
}

@font-face {
    font-family: "SF SemBold";
    src: url(fonts/SanFranciscoDisplay-Semibold.otf);
}

@font-face {
    font-family: "SF Bold";
    src: url(fonts/SanFranciscoDisplay-Bold.otf);
}

:root{
    --white: #ffffff;
    --black: #000000;
    --gray: #323233;
    --blue: #277DD4;
    --orange: #FD6A13;
    --red: #BE2426;
    --divBackground: #FBFBFD;
    --colorTitle: #1D1D1F;
    --colorSubTitle: #86868B;
    --commonFont: "Sf Reg";
    --titleFont: "SF SemBold";
    --constraTitle: "SF Bold";
    --heightSetion: 930px;
    --heightSectionTwo: 630px;
    --linearGradient: (to right, var(--blue), #c61f8b);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: var(--commonFont);
    text-decoration: none;
}

.header{
    position: relative;
    height: 44px;
    width: 97vw;
    
    opacity: 0.99;
    backdrop-filter: blur(20);
    
    background-color: var(--gray);
}

.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    min-width: 832px;
    max-width: 1040px;

}

.navLink{
    display: inline;

    padding: 0px 8px;
    color: white;
}

section{
    height: var(--heightSetion);
    background-color: #FBFBFD;
    margin-bottom: 10px;
}

.textSection{
    display: block;
    text-align: center;
    height: 50%;
}

.textSection 
h2, h4 { font-family: var(--titleFont); }

.textSection h2{
    padding-top: 60px;
    font-weight: bold;
    font-size: 4.5em;
}

.textSection h3{
    font-family: var(--commonFont);
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 15px;
}

.textSection p{
    padding-bottom: 15px;
    font-size: 1.6em;
    color: var(--colorSubTitle);
}

.textSection a{
    color: var(--blue);
    font-size: 1.6em;

}

.textSection a.one{
    margin-right: 32px;
}

.textSection a:hover{
    text-decoration: underline;
}

.textSection a::after{
    text-decoration: none;
    content: " >";
}

.textSection a::after:hover{
    text-decoration: none;
}

section#iPad{
    position: relative;
    background-color: var(--divBackground);
    background-image: url(img/iPad.png);
    background-repeat: no-repeat;
    background-position:  left 40% center;
}

section#iPad
.textSection{
    padding-left: 80px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateY(-50%);
}

section.backgroungBlack{
    background-color: black;
    background-image: url(img/iphone14.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    background-size: 850px;
}

section.backgroungBlack
.textSection{
    color: white;
}
section#Bigwatch{
    background-image: url(img/bigAppleWatch.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    background-size: 1100px;
}

section#Bigwatch .textSection{
    padding-top: 80px;
}

section#Bigwatch .textSection h2{
    font-family: var(--constraTitle);
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;

}

.textSection h2.iconTitle::before{
    content: '';
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url(icons/apple-iconBlack.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

section#Bigwatch
.textSection h4{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-family: var(--titleFont);
    font-size: 1.2em;
    color: var(--orange);
}

/*Config class - TwoArticles*/

section.twoArticles{
    height: var(--heightSectionTwo);
    padding: 5px 10px 0px 10px;
}

section.twoArticles
article{
    height: 100%;
    width: 49%;
}

section.twoArticles
article.left{
    display: block;
    float: left;
    color: var(--white);
}

section.twoArticles
article.right{
    display: block;
    float: right;
}

section.twoArticles
article
h2{font-size: 2.25em;}

section.twoArticles
article
h3{font-size: 1.5em;}


section.twoArticles
article
h4{font-size: 0.8em;}

/*Article WorldWatch*/

article#worldWatch{
    font-family: var(--constraTitle);
    background-color: var(--black);
    background-image: url(img/appleWatch.png);

    background-repeat: no-repeat;
    background-position: bottom center;
}

article#worldWatch
.textSection h2.iconTitle::before{
    background-image: url(icons/apple-icon.png);
}

article#worldWatch
.textSection  h4{
    text-transform: uppercase;

    letter-spacing: 1.5px;
    padding-bottom: 15px;

    color: var(--red);
}

/*Article HandsAndIphone*/

article#handsAndIphone{
    background-color: var(--divBackground);
    background-image: url(img/handsAndIphonePqn.png);
    background-repeat: no-repeat;
    background-position:  bottom center;
}

/*Article iPad Pro*/

article#iPadsPro{
    position: relative;
    backdrop-filter: blur(1px);

    background-color: var(--black);
}

article#iPadsPro
div#gradientColor{
    position: absolute;
    top: 50%;
    transform: translatey(-25%);

    height: 250px;
    width: 100%;

    background-image: linear-gradient(to right, var(--blue), #c61f8b);
}


/*Article Airpods*/

article#airPods{
    background-color: var(--black);
    background-image: url(img/airPods.png);
    background-repeat: no-repeat;
    background-position:  bottom center;
}

/*Article Watches*/

article#watchs{
    background-image: url(img/appleWatchs.png);
    background-repeat: no-repeat;
    background-position: bottom 63px center;
}

article#watchs
.textSection
h4{
    color: var(--red);
    text-transform: uppercase;
}

article#appleTv{
    background-image: url(img/appleTv.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}

article#appleTv
.textSection h2{
    color: var(--linearGradient);
}
/**/